PyQt6>=6.7.0
PyQt6-WebEngine>=6.7.0
pyqtgraph>=0.13.7
folium>=0.17.0
fpdf2>=2.7.9
requests>=2.32.0
urllib3>=2.2.0
numpy>=2.0.0
pandas>=2.2.0
matplotlib>=3.9.0
flask>=3.0.0
Werkzeug>=3.0.0
python-dotenv>=1.0.0
